footer {
  margin-top: 100px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .footerItem {
    // width: 23%;
    &:first-child {
      width: 23%;
    }
    &:last-child {
      width: 30%;
    }
    .title {
      font-weight: bold;
      margin-bottom: 30px;
      a {
        img {
          cursor: pointer;
        }
      }
    }
    ul {
      li {
        list-style: none;
        margin-bottom: 10px;
        a {
          text-decoration: none;
          transition: all 0.4s;
          color: black;
          &:hover {
            color: #f42c37;
          }
        }
      }
    }
    p {
      margin-bottom: 5px;
      margin-bottom: 10px;
      color: #9c9c9c;
    }

    .forEmail {
      padding: 10px 10px 10px 30px;
      border-radius: 20px;
      background: rgb(245, 245, 245);
      background: linear-gradient(
        180deg,
        rgba(245, 245, 245, 1) 50%,
        rgba(227, 217, 218, 1) 100%
      );
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }

      input {
        border: none;
        outline: none;
        font-size: 16px;
        background-color: transparent;
      }
      button {
        border: none;
        outline: none;
        background-color: #f42c37;
        color: white;
        border-radius: 20px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  footer {
    .footerItem {
      &:last-child {
        width: 40%;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  footer {
    .footerItem {
      width: 50%;
      &:first-child {
        width: 50%;
      }
      &:last-child {
        width: 50%;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 4;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  footer {
    margin-top: 0;
    .footerItem {
      margin-bottom: 30px;
      text-align: center;
      width: 100%;
      &:first-child {
        width: 100%;
      }
      &:last-child {
        width: 100%;
      }
      .forEmail {
        justify-content: center;
        input {
          width: 100%;
        }
        button {
          margin-top: 20px;

          width: 50%;
        }
      }
    }
  }
}
